#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

.token-label {
  font-size: 10px;
  text-align: center;
  pointer-events: none;
}

.token-label span {
  background: rgba(255, 255, 255, 0.8);
  padding: 1px 2px;
  border-radius: 2px;
}
